body{
    margin: 0;
}
.page{
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    /* background-color: red; */
}
.header{
    height: 5%;
    color: white;
    background-color: #4267B2;    
}
.content{
    padding: 13px 30px 0px;
    /* display: inline; */
}
.header-elem{
    display: inline;
    margin-right: 25px;
}
.input{
    width: 250px;
}
.input-c{
    width: 50%;
}
.left-header{
    width: 25%;
}
.right-header{
    margin-left: auto;
    margin-right: 0;
    font-size: 13px;
}
.inl-block{
    display: inline-block;
}
.inline{
    display: inline;
}
.margin-2{
    margin:10px;
}
.bold{
    font-weight: bold;
}
h2{
    margin: 0;
}
.body{
    height: 95%;
}
.left-side{
    height: 100%;
    width: 20%;
    /* background-color: blue; */
    display: inline-block;
}
.profile{
    margin: 25px;
    margin-top: 0px;
    padding-top: 25px;
}
.photo{
    height: 100px;
    border: 1px solid black;
    width: 100px;
    text-align: center;
    line-height: 100px;
}
.photo2{
    height: 50px;
    border: 1px solid black;
    width: 50px;
    text-align: center;
    line-height: 50px;
}
.border{
    border-right: 3px solid black;
    height: 100%;
}
.user-name{
    margin: 15px;
    font-size: 12px;
    text-align: left;
}
.underline{
    text-decoration: underline;
}
.pages{
    margin: 25px;
    font-size: 16px;
}
.l-input{
    margin: 25px;
    width: 75%;
}
.round-input{
    width: 100%;
    border-radius: 15px;
    padding-left: 15px;
    border: 2px solid black;
}
.right-side{
    /* background-color: red; */
    height: 100%;
    float: right;
    width: 75%;
    /* display: -webkit-inline-box; */

}
.rs-left{
    width: 100%;
    display: inline-block;
}
.rs-right{
    float: right;
    width: 20%;
}
.rs-header{
    margin-left: 25px;
    width: 75%;
    border-bottom: 2px solid black;
}
.title{
    font-size: 20px;
}
.span{
    font-size: 15px;
    margin-top: 15px; 
    float: right;
}
.elem{
    margin-left:15px;
}
.input-main{
    width: 100%;
}
.main-elem{
    width: 100%;
    margin-top: 25px;
    margin-left: 25px;
    font-size: 15px;
}
.text-p{
    width: 80%;
    float: right;
}
.blue{
    width: 100%;
    background-color: lightblue;
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}
.border-bottom{
    height: 225px;
    border-bottom: 2px solid black;
}
.rs-ls{
    width: 75%;
    display: inline-block;
}
.blue-right{
    float: right;
    text-decoration: underline;
    color: blue;
}
.cat{
    font-size: 15px;
    background-color: lightgrey;
    padding: 5px;
}
.inp-r{
    margin-top: 42px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-40{
    margin-top: 40px;
}
.add{
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid black;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}